<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>author | An Icel's Pen</title>
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/aside.css" />
		<link rel="stylesheet" href="./css/author.css" />
	</head>
	<body>
		<aside>
			<header>
				<div><img src="./img/img2.png" alt="avatar" id="avatar" /></div>
				<h1 id="name"><a href="./index.html">An Icel's Pen</a></h1>
				<span id="signature">Let's learn together</span>
			</header>
			<nav>
				<ul>
					<li><a href="./index.html">home</a></li>
					<li><a href="./articles.html">articles</a></li>
					<li><a href="./author.html">author</a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<h1>Author</h1>
			<div id="introduce">
				<div><img src="./img/img1.png" alt="author" id="author" /></div>
				<h1>icel</h1>
				<p>from China, want to be a full stack engineer</p>
			</div>
		</article>
	</body>
</html>
