<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>console</title>
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/aside.css" />
		<link rel="stylesheet" href="./css/console.css" />
	</head>
	<body>
		<aside>
			<header>
				<div><img src="./img/img2.png" alt="avatar" id="avatar" /></div>
				<h1 id="name"><a href="./index.html">Icel</a></h1>
				<span id="signature">Let's learn together</span>
			</header>
			<nav>
				<ul>
					<li><a href="./write_a_log.html">write a log</a></li>
					<li><a href="./console.html">console</a></li>
					<li><a href="./self_introduction.html">self introduction</a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<h1>Console</h1>
			<ul id="article-list">
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="release">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
				<li>
					<span>
						Let's find when and why to use call, apply, bind injavascript
					</span>
					<div class="button">
						<span class="revise">revise</span>
						<span class="show">show</span>
						<span class="hide">hide</span>
						<span class="delete">delete</span>
					</div>
				</li>
			</ul>
			<div id="page">
				<ul>
					<li id="previous">&#8592;</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li id="next">&#8594;</li>
				</ul>
			</div>
		</article>
	</body>
</html>
