<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/aside.css" />
		<link rel="stylesheet" href="./css/essay.css" />
	</head>
	<body>
		<aside>
			<header>
				<div><img src="./img/img2.png" alt="avatar" id="avatar" /></div>
				<h1 id="name"><a href="./index.html">An Icel's Pen</a></h1>
				<span id="signature">Let's learn together</span>
			</header>
			<nav>
				<ul>
					<li><a href="./index.html">home</a></li>
					<li><a href="./articles.html">articles</a></li>
					<li><a href="./author.html">author</a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<div id="title">JavaScript - Call vs Apply vs Bind</div>
			<div id="tag">
				<a href="">#js-core</a>
				&nbsp;
				<a href="">#javascript</a>
			</div>
			<div id="explain">
				[This article was orginally posted by Newb's at Zeolearn(
				<a href="">link here</a>
				)]
			</div>
			<div id="main-box">
				<p>
					If you have landed on this page, You are most probably looking for
					when and how to use call, apply and bind. But we have got one
					prerequisite ‘know-how of this object’ to understand those js methods.
					So before we proceed, Lets get a refresher for ‘this’.
				</p>
				<br />
				<p>
					If you have landed on this page, You are most probably looking for
					when and how to use call, apply and bind. But we have got one
					prerequisite ‘know-how of this object’ to understand those js methods.
					So before we proceed, Lets get a refresher for ‘this’.
				</p>
				<br />
				<p>
					If you have landed on this page, You are most probably looking for
					when and how to use call, apply and bind. But we have got one
					prerequisite ‘know-how of this object’ to understand those js methods.
					So before we proceed, Lets get a refresher for ‘this’.
				</p>
				<img src="./img/img1.png" alt="" />
				<br />
				<p>
					If you have landed on this page, You are most probably looking for
					when and how to use call, apply and bind. But we have got one
					prerequisite ‘know-how of this object’ to understand those js methods.
					So before we proceed, Lets get a refresher for ‘this’.
				</p>
				<br />
				<p>
					If you have landed on this page, You are most probably looking for
					when and how to use call, apply and bind. But we have got one
					prerequisite ‘know-how of this object’ to understand those js methods.
					So before we proceed, Lets get a refresher for ‘this’.
				</p>
				<br />

				<p>
					If you have landed on this page, You are most probably looking for
					when and how to use call, apply and bind. But we have got one
					prerequisite ‘know-how of this object’ to understand those js methods.
					So before we proceed, Lets get a refresher for ‘this’.
				</p>
			</div>
			<div id="date">2019/09/20 17:40</div>
			<div id="arrow">
				<a id="previous" href="">&#8592; Older Post</a>
				<a id="next" href="">Next Post &#8594;</a>
			</div>
			<footer>
				<h1>Comments</h1>
			</footer>
		</article>
	</body>
</html>
