<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>An Icel's Pen</title>
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/index.css" />
		<link rel="stylesheet" href="./css/aside.css" />
	</head>
	<body>
		<aside>
			<header>
				<div><img src="./img/img2.png" alt="avatar" id="avatar" /></div>
				<h1 id="name"><a href="./index.html">An Icel's Pen</a></h1>
				<span id="signature">Let's learn together</span>
			</header>
			<nav>
				<ul>
					<li><a href="./index.html">home</a></li>
					<li><a href="./articles.html">articles</a></li>
					<li><a href="./author.html">author</a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<em>Recent Articles</em>
			<a href="./essay.html">
				<section>
					<h1>JavaScript - Call vs Apply vs Bind</h1>
					<h2>
						Let's find when and why to use call, apply, bind in javascript
					</h2>
				</section>
			</a>
			<a href="./essay.html">
				<section>
					<h1>JavaScript - Call vs Apply vs Bind</h1>
					<h2>
						Let's find when and why to use call, apply, bind in javascript
					</h2>
				</section>
			</a>
			<a href="./essay.html">
				<section>
					<h1>JavaScript - Call vs Apply vs Bind</h1>
					<h2>
						Let's find when and why to use call, apply, bind in javascript
					</h2>
				</section>
			</a>
			<a href="./essay.html">
				<section>
					<h1>JavaScript - Call vs Apply vs Bind</h1>
					<h2>
						Let's find when and why to use call, apply, bind in javascript
					</h2>
				</section>
			</a>
			<a href="./essay.html">
				<section>
					<h1>JavaScript - Call vs Apply vs Bind</h1>
					<h2>
						Let's find when and why to use call, apply, bind in javascript
					</h2>
				</section>
			</a>
		</article>
	</body>
</html>
