<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>self introduction</title>
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/aside.css" />
		<link rel="stylesheet" href="./css/self_introduction.css" />
	</head>
	<body>
		<aside>
			<header>
				<div><img src="./img/img2.png" alt="avatar" id="avatar" /></div>
				<h1 id="name"><a href="./index.html">Icel</a></h1>
				<span id="signature">Let's learn together</span>
			</header>
			<nav>
				<ul>
					<li><a href="./write_a_log.html">write a log</a></li>
					<li><a href="./console.html">console</a></li>
					<li><a href="./self_introduction.html">self introduction</a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<h1>Self introduction</h1>
			<form action="">
				<div id="picture"><img src="./img/img1.png" alt="avatar" /></div>
				<div id="box">
					<div id="self-name">
						name: <input type="text" placeholder="icel" />
					</div>
					<div id="sign">
						signature: <input type="text" placeholder="Let's learn together" />
					</div>
				</div>
				<div id="button">
					<span id="confirm">confirm</span>
					<span id="cancel">cancel</span>
				</div>
			</form>
		</article>
	</body>
</html>
