<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>write a log</title>
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/aside.css" />
		<link rel="stylesheet" href="./css/write_a_log.css" />
	</head>
	<body>
		<aside>
			<header>
				<div><img src="./img/img2.png" alt="avatar" id="avatar" /></div>
				<h1 id="name"><a href="./index.html">Icel</a></h1>
				<span id="signature">Let's learn together</span>
			</header>
			<nav>
				<ul>
					<li><a href="./write_a_log.html">write a log</a></li>
					<li><a href="./console.html">console</a></li>
					<li><a href="./self_introduction.html">self introduction</a></li>
				</ul>
			</nav>
		</aside>
		<article>
			<h1>Write a log</h1>
			<div id="main-box">
				<div id="title"><input type="text" placeholder="title" /></div>
				<div id="tag"><input type="text" placeholder="tag" /></div>
				<div id="explain">
					<input type="text" placeholder="explain" />
				</div>
				<div id="textarea">
					textarea
				</div>
				<div id="button">
					<span id="save">save</span>
					<span id="release">release</span>
				</div>
			</div>
		</article>
	</body>
</html>
