aside {
	flex: 1 1 400px;
	max-width: 400px;
	height: 100%;
	background-color: #141414;
	top: 0;
	left: 0;
	text-align: right;
	padding: 50px 40px;
	box-sizing: border-box;
}
#avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: white;
}
aside h1 {
	font-size: 45px;
	font-weight: lighter;
}
aside h1 > a {
	color: white;
}
aside span {
	color: #666666;
	margin: 25px 0;
	display: block;
}
aside li > a {
	margin: 5px 0;
	color: white;
	display: inline-block;
	font-weight: lighter;
}
aside li > a:hover {
	text-decoration: underline;
}
